@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@theme {
  --color-bg: #0b0d10;
  --color-fg: #e5e7eb;
  --color-muted: #9ca3af;
  --color-accent: #8b5cf6;
}
.main-gradient {
  background: linear-gradient(to bottom, var(--color-bg), #0e1116, black);
}
@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.exp-bullet {
  @apply text-base text-muted leading-relaxed
         opacity-0 translate-y-2
         transition-all duration-300 ease-out;
}

.group:hover .exp-bullet {
  @apply opacity-100 translate-y-0;
}

